<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <script   src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/css/style.css'/>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/js/module.js"></script>
  <script src="/js/controllers/homeCtrl.js"></script>
  <script src="/js/controllers/mapCtrl.js"></script>
  <script src="/js/services/snapshotService.js"></script>
</head>

<body ng-app='myApp'>
  <ui-view></ui-view>
</body>

</html>
