<!DOCTYPE html>
<html>

<head>
  <title>Title</title>
  <link rel='stylesheet' href='/css/style.css'/>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="/js/module.js"></script>
  <script src="/js/controllers/homeCtrl.js"></script>
  <script src="/js/services/authService.js"></script>
</head>

<body ng-app='myApp'>
  <ui-view></ui-view>
</body>

</html>
