* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/citybackground.jpg');
  background-repeat: no-repeat;
}
#map {
  height: 300px;
}

.slider {
  padding: 30px;
}

.home {
  width: 100%;
}
.inputs {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px;
  text-align: center;
}
.btn {
  margin: 20px;
}
.header {
  color: white;
}
.graph {
  background-color: #fff;
  border-radius: 5px;
  height: 270px;
  margin-top: 25px;
}
