/**------------------------------------------------------------------
[Table of Contents]
* Name of section / Search term

1. Universal styling/ #Universal
2. Home / #Home
3. Graph / #Graph
4. Map / #Map
5. Input / #Input
------------------------------------------------------------------**/

/* #Universal
================================ */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/citybackground.jpg');
  background-repeat: no-repeat;
  padding: 80px;
}

h3 {
  margin: 10px;
}

.btn {
  margin: 20px;
}

/* #Home
================================ */
.home-header {
  color: black;
}

.home {
  /*width: 100%;*/
  /*height: 100vh;*/
  background-color: rgba(255, 255, 255, .5);
}

.inputs {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  text-align: center;

}
/* #Graph
================================ */

.graph {
  width: 100%;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  /*height: 270px;*/
  margin-top: 25px;
}

.graph-wrapper {
  width: 100%;
}

/* #Map
================================ */

.map-style {
  border-radius: 5px;
  height: 300px;
}

/* #Input
================================ */
.input-header {
  color: white;
}

.inputs {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, .5);
  border-radius: 5px;
  text-align: center;
}
  

.slider {
  padding: 10px;
}
